.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--space);
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  width: 100%;
  gap: var(--space);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);

  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);

  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 40ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 8rem 0;
}

.glitch1,
.glitch2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.45;
}

.glitch2 {
  opacity: 0.25;
}

.glitch1::before,
.glitch1::after,
.glitch2::before,
.glitch2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(45px);
}

.glitch2::before {
  left: -20%;
  background: var(--primary-glow);
  mix-blend-mode: overlay;
  animation: glitch 5s linear infinite;
}

.glitch2::after {
  left: 20%;
  background: var(--secondary-glow);
  mix-blend-mode: overlay;
  animation: glitch2 11s linear infinite;
}

@keyframes glitch {
  0%,
  2.49% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
  }
  2.5%,
  7.49% {
    clip-path: polygon(80% 0, 100% 0, 100% 20%, 80% 20%);
  }
  7.5%,
  12.49% {
    clip-path: polygon(70% 0, 100% 0, 100% 30%, 70% 30%);
  }
  12.5%,
  17.49% {
    clip-path: polygon(30% 30%, 100% 30%, 100% 70%, 30% 70%);
  }
  17.5%,
  22.49% {
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  }
  22.5%,
  25.49% {
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  25.5%,
  27.49% {
    clip-path: polygon(0 0, 40% 0, 40% 40%, 0 40%);
  }
  27.5%,
  29.79% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  29.8%,
  32.99% {
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  33%,
  100% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
}

@keyframes glitch2 {
  0%,
  4.9% {
    clip-path: polygon(0 100%, 30% 100%, 30% 70%, 0 70%);
  }
  5%,
  9.9% {
    clip-path: polygon(70% 100%, 100% 100%, 100% 70%, 70% 70%);
  }
  10%,
  14.9% {
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  }
  15%,
  19.9% {
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%);
  }
  20%,
  24.9% {
    clip-path: polygon(0 20%, 20% 20%, 20% 50%, 0 50%);
  }
  25%,
  29.9% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  30%,
  100% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}

.logo {
  position: relative;
  color: #ffffff;
  font-size: 7em;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 0rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
